<!DOCTYPE html>
<app-panel-top></app-panel-top>
<head>
  <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;600&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container">
    <div style="text-align: center;width: 100%;background-color: darkgray;">Ten sklep z softwarem oferuje gry i oprogramowanie na</div>
    <table>
      <tr>
      <td>Xbox<br>
         <img src="https://gamespot1.cbsistatic.com/uploads/scale_super/1574/15747411/3614974-series-xbox3.jpg">
      </td>
      <td>Nintendo<br>
       <img src="https://i.ytimg.com/vi/y9b2vxjP0po/maxresdefault.jpg">
      </td>
      </tr>
      <tr>
      <td>Playstation<br>
       <img src="https://gamespot1.cbsistatic.com/uploads/screen_kubrick/1585/15855271/3682221-ps5-dual.jpg">
      </td>
      <td> Windows <br>
        <img src="https://i.ytimg.com/vi/Mi_bccLxGJg/maxresdefault.jpg">
      </td>
      </tr>
    </table>

  </div>
</body>
